<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/components.css">
    <title>Cadastro de Pessoas</title>
</head>
<body>
    <header class="banner">
        <h1 class="banner_text">Cadastro de Pessoas</h1>
    </header>
    <main>
        <form action="" method="POST"> {% csrf_token %}
            <div class="register-person">
                <div class="register-person_person">
                    <input type="text" name="name" id="person-name" placeholder="Nome">
                    <input type="number" name="age" id="person-age" placeholder="Idade">
                </div>
                <div class="register-person_address">
                    <input type="text" name="street" id="address-street" placeholder="Rua">
                    <input type="number" name="number" id="address-number" placeholder="Número">
                    <input type="text" name="cep" id="address-cep" placeholder="CEP">
                </div>
            </div>
            <div class="add-person">
                <input type="submit" class="add-button button" value="Adicionar Pessoa">
            </div>
        </form>
        
        <div class="search">
            <input class="search_input" type="search" name="" id="" placeholder="Buscar por nome...">
        </div>
        <table class="table_content">
            <thead class="table_head">
                <tr>
                    <th>id</th>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Rua</td>
                    <th>Número</th>
                    <th>CEP</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="table_body">
                {% for person in persons %}
                    <tr>
                        <td>{{person.id}}</td>
                        <td>{{person.name}}</td>
                        <td>{{person.age}}</td>
                        <td>{{person.address.street}}</td>
                        <td>{{person.address.house_number}}</td>
                        <td>{{person.address.cep}}</td>
                        <form action="{% url 'delete' person.pk %}" method="post"> {% csrf_token %}
                            <td>
                                <button class="delete-button button" name="delete">Deletar</button>
                            </td>
                        </form>
                        <td>
                            <a href="{% url 'edit' person.pk %}" class="edit-button button"  type="submit">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
                        
            </tbody>
        </table>
    </main>
</body>
<script src="/static/js/openInputs.js"></script>
</html>